<ion-header>
<ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="danger"></ion-menu-button>
    </ion-buttons>

    <ion-title>Cadastrar</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <form #form='ngForm' (ngSubmit)='onSubmit()'>
    <ion-list>
      <ion-list-header>
        <h1>Preencha seus dados!</h1>
      </ion-list-header>

      <ion-item>
        <ion-input type='text' placeholder='Digite seu nome' name='name' [(ngModel)]='user.name'></ion-input>
      </ion-item>

      <ion-item>
        <ion-input type='email' placeholder='Digite seu email' name='email' [(ngModel)]='user.email'></ion-input>
      </ion-item>      
    </ion-list>
    
    <ion-button type='submit' expand='full' shape='round' color='danger'> Cadastrar </ion-button>

  </form>

</ion-content>
